rvm:
- 2.4.1
cache: bundler
# Not using Trusty containers because of:
# https://github.com/travis-ci/travis-ci/issues/6842
sudo: required
dist: trusty
addons:
  apt:
    sources:
    - elasticsearch-2.x
    packages:
    - elasticsearch
before_script:
- cp test/dummy/.env.example test/dummy/.env
- curl localhost:9200
- bundle exec rake app:db:setup
- bundle exec rake app:index:reset
services:
- elasticsearch
- postgresql
