rvm: 2.5.3
cache: bundler
dist: xenial

before_install:
- wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}-linux-x86_64.tar.gz
- tar -xzf elasticsearch-${ES_VERSION}.tar.gz
- ./elasticsearch-${ES_VERSION}/bin/elasticsearch -d

before_script:
- cp test/dummy/.env.example test/dummy/.env
- for i in 1 2 3 ; do wget --quiet --waitretry=1 --retry-connrefused --timeout=30 -O - http://127.0.0.1:9200 && break ; done
- bundle exec rake app:db:setup
- bundle exec rake app:index:reset

env:
  global:
  - ES_VERSION=7.1.1

services:
- postgresql

addons:
  postgresql: 9.6
