rvm: 2.4.1
cache: bundler
sudo: false
dist: trusty
addons:
  apt:
    sources:
    - elasticsearch-5.5
    packages:
    - elasticsearch
before_script:
- cp test/dummy/.env.example test/dummy/.env
- curl localhost:9200
- bundle exec rake app:db:setup
- bundle exec rake app:index:reset
services:
- elasticsearch
- postgresql
